.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

@each $s1 in top, right, bottom, left {
  .pos-#{str-slice($s1, 1, 1)} {
    #{$s1}: 0;
  }
}

@each $s1 in top, bottom {
  @each $s2 in right, left {
    .pos-#{str-slice($s1, 1, 1)}#{str-slice($s2, 1, 1)} {
      #{$s1}: 0;
      #{$s2}: 0;
    }
  }
}

@for $i from 1 through 10 {
  .z-index-#{$i} {
    z-index: $i;
  }
}

.text-align-center {
  text-align: center !important;
}

.text-align-left {
  text-align: left !important;
}
