@for $i from 1 through 20 {
  .w-#{$i*5} {
    width: $i*5*1%;
  }
}

@for $i from 1 through 12 {

  // padding
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .p-#{$i}p {
    padding: $i * 1%;
  }

  @each $s in top, right, bottom, left {
    .p-#{$s}-#{$i} {
      padding-#{$s}: #{$i}rem;
    }
  }

  .p-x-#{$i} {
    padding-right: #{$i}rem;
    padding-left: #{$i}rem;
  }

  .p-y-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }

  .p-x-#{$i}p {
    padding-right: $i * 1%;
    padding-left: $i * 1%;
  }

  .p-y-#{$i}p {
    padding-top: $i * 1%;
    padding-bottom: $i * 1%;
  }

  // margin
  .m-#{$i} {
    margin: #{$i}rem;
  }

  .m-#{$i}p {
    margin: $i * 1%;
  }

  @each $s in top, right, bottom, left {
    .m-#{$s}-#{$i} {
      margin-#{$s}: #{$i}rem;
    }
  }

  .m-x-#{$i} {
    margin-right: #{$i}rem;
    margin-left: #{$i}rem;
  }

  .m-y-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
}
