@for $i from 1 through 20 {
  .w-#{$i*5} {
    width: $i*5*1%;
  }
}

@for $i from 1 through 20 {
  .p-#{$i} {
    padding: #{$i}rem;
  }

  .p-#{$i}p {
    padding: $i * 1%;
  }

  @each $s in top, right, bottom, left {
    .p#{str-slice($s, 1, 1)}-#{$i} {
      padding-#{$s}: #{$i}rem;
    }

    .p#{str-slice($s, 1, 1)}-#{$i}p {
      padding-#{$s}: $i * 1%;
    }
  }

  .px-#{$i} {
    padding-right: #{$i}rem;
    padding-left: #{$i}rem;
  }

  .py-#{$i} {
    padding-top: #{$i}rem;
    padding-bottom: #{$i}rem;
  }

  .px-#{$i}p {
    padding-right: $i * 1%;
    padding-left: $i * 1%;
  }

  .py-#{$i}p {
    padding-top: $i * 1%;
    padding-bottom: $i * 1%;
  }



  .m-#{$i} {
    margin: #{$i}rem;
  }

  .m-#{$i}p {
    margin: $i * 1%;
  }

  @each $s in top, right, bottom, left {
    .m#{str-slice($s, 1, 1)}-#{$i} {
      margin-#{$s}: #{$i}rem;
    }
  }

  .mx-#{$i} {
    margin-right: #{$i}rem;
    margin-left: #{$i}rem;
  }

  .my-#{$i} {
    margin-top: #{$i}rem;
    margin-bottom: #{$i}rem;
  }
}
