.button {
  display: inline-block;
  @include reset-anchor();
  @include type-style-nav();
  padding: 2rem 6rem;
  box-shadow: 0 0 0 2px $gold inset;
  color: $gold;
  text-align: center;
  position: relative;
  transition: color 0.8s $ease-in-out-quint;
  overflow: hidden;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $gold;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.8s $ease-in-out-quint;
  }

  span {
    position: relative;
    z-index: 1;
  }

  @include hover-mouse() {
    color: $white;

    &::before {
      transform-origin: left;
      transform: scaleX(1);
    }
  }

  &--white {
    box-shadow: 0 0 0 2px $white inset;
    color: $white;

    &::before {
      background-color: $white;
    }

    @include hover-mouse() {
      color: $gold;
    }
  }
}
