.circle-button {
  @include reset-button();
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  color: currentColor;

  .text-button & {
    pointer-events: none;
  }

  &__circle {
    display: inline-block;
    width: 4.5rem;
    height: 4.5rem;
    position: relative;
    border-width: 0.2rem;
    border-style: solid;
    border-radius: 50%;
    overflow: hidden;

    .text-button & {
      width: 3rem;
      height: 3rem;
    }
  }

  &__arrow {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    will-change: transform;

    svg {
      position: absolute;
      left: 52%;
      top: 52%;
      transform: translate(-50%, -50%);

      .text-button & {
        transform: translate(-50%, -50%) scale(0.75);
      }
    }
  }

  &__label {
    @include type-style-action();
    margin-top: 1rem;
    transform: translateY(2px);
    white-space: nowrap;
  }

  &--left {
    .circle-button__arrow {
      &:nth-child(2) {
        transform: translateX(100%);
      }
    }

    .text-button:hover &,
    &:hover {
      .circle-button__arrow {
        transition: transform 1s $ease-in-out-quint;

        &:nth-child(1) {
          transform: translateX(-100%);
        }

        &:nth-child(2) {
          transform: translateX(0);
        }
      }
    }
  }

  &--right {
    .circle-button__arrow {
      &:nth-child(1) {
        transform: translateX(-100%);
      }
    }

    .text-button:hover &,
    &:hover {
      .circle-button__arrow {
        transition: transform 1s $ease-in-out-quint;

        &:nth-child(1) {
          transform: translateX(0);
        }

        &:nth-child(2) {
          transform: translateX(100%);
        }
      }
    }
  }
}
