.columns-block {

  &__row {
    display: flex;
    justify-content: space-between;

    @media (max-width: $lg) {
      display: block;
    }
  }

  &--bg {
    &:nth-child(odd) {
      .columns-block__row {
        justify-content: flex-end;
      }
    }
  }

  &--normal {
    &:nth-child(odd) {
      .columns-block__row {
        flex-direction: row-reverse;
      }

      .columns-block__image {
        &--1 {
          z-index: 1;
          left: 0;
        }

        &--2 {
          left: 4%;
        }

        &--portrait {
          width: 24%;
          bottom: 10%;
          left: 4%;
          z-index: 2;

          @media (max-width: $lg) {
            width: 56%;
          }
        }
      }
    }
  }

  &--stats {
    .columns-block__image {
      &--1 {
        width: 28%;

        @media (max-width: $lg) {
          width: 56%;
        }
      }

      &--2 {
        top: 42%;
        right: 0;
      }
    }
  }

  &--left {
    .columns-block__stats {
      transform: translate(0, 50%);

      @media (max-width: $md) {
        transform: none;
        padding: 0 $inner-padding-md * 2;
      }
    }

    .columns-block__image {
      &--1 {
        left: 16%;
      }

      &--2 {
        left: $inner-padding-lg;
      }
    }
  }

  &__background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.6;
    }
  }

  &__image-cluster {
    flex-basis: 46%;
    padding-left: 6%;

    @media (max-width: $lg) {
      padding-left: 0;
    }
  }

  &__image {
    width: 32%;
    height: auto;
    position: absolute;

    &--sm {
      width: 28%;
      &.columns-block__image--2 {
        right: 8%;
      }
    }

    &--1 {
      top: 12%;
      right: 0;

      &.columns-block__image--portrait {
        right: 0;
      }
    }

    &--2 {
      bottom: 14%;
      right: 4%;

      @media(max-width: $lg) {
        transform: translate(10%, -10%);
      }
    }

    &--portrait {
      width: 24%;
      bottom: 10%;
      right: 4%;
    }

    @media (max-width: $lg) {
      position: relative;
      width: 75%;
      top: auto;
      left: auto;
      bottom: auto;
      right: auto;

      &--1 {
        margin-left: 25%;

        &.columns-block__image--portrait {
          margin-left: 36%;
        }
      }

      &--2 {
        margin-top: -8%;
      }

      &--portrait {
        width: 56%;
      }
    }
  }
}
