.hero {
  background-color: $gray-3;
  display: flex;
  align-items: center;
  height: 32rem;

  &--front-page {
    height: 68rem;
  }

  &__inner {
    width: 100%;
    padding: 0 $inner-padding;
    text-align: center;

    .hero--front-page & {
      text-align: left;
    }
  }

  &__text {
    @include type-style-heading-lg();
    margin: 0;

    .hero--front-page & {
      @include type-style-heading-xxl();
    }
  }
}
