.hero {
  padding: $inner-padding-lg 0;
  position: relative;

  &--front-page {
    background-color: $black;
    height: 80rem;

    @media (max-width: $md) {
      height: 60rem;
    }

    @media (max-width: $sm) {
      height: 40rem;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.84;
    }
  }

  &--half-image {}

  &--alt {
    height: 50rem;
    padding: 0 4%;
    z-index: 1;

    @media (max-width: $lg) {
      height: auto;
      margin-bottom: 4rem;
    }

    @media (max-width: $sm) {
      margin-bottom: 6rem;
    }
  }

  &--aux {
    background-color: $black;
    color: $gold;
    text-align: center;
    padding: 10% 0;
  }

  &--black {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 7rem;
      right: 4%;
      bottom: 0;
      left: 4%;
      background-color: $black;

      @media (max-width: $lg) {
        display: none;
      }
    }
  }

  &__inner {
    position: relative;
    width: 100%;
    padding: 0 $inner-padding-md;
    z-index: 2;

    .hero--front-page & {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }

    .hero--half-image & {
      padding-left: 30%;

      @media (max-width: $lg) {
        padding-left: 8%;
      }
    }

    .hero--alt & {
      text-align: center;
      background-color: $blue;
      height: 100%;
      padding-top: $inner-padding-md;
    }
  }

  &__heading {
    @include type-style-heading-lg();
    margin: 0;

    .hero--front-page & {
      @include type-style-heading-xxxl();
      font-size: 10rem;
      line-height: 1.1;
      color: $white;

      @media (max-width: $md) {
        font-size: 6.5rem;
      }

      @media (max-width: $sm) {
        font-size: 4.5rem;
      }
    }

    .hero--half-image & {
      color: $gold;
      line-height: 1.5;

      @media (max-width: $lg) {
        font-size: 4rem;
      }

      @media (max-width: $md) {
        font-size: 3.2rem;
      }
    }

    .hero--alt & {
      @include type-style-heading-xxxl();
      font-style: normal;
      color: $white;

      @media (max-width: $lg) {
        font-size: 8rem;
      }

      @media (max-width: $sm) {
        font-size: 6rem;
      }
    }

    .hero--aux & {
      font-size: 13rem;

      @media (max-width: $md) {
        font-size: 8rem;
      }
    }
  }

  &__image {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    .hero--front-page & {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .hero--half-image & {
      top: 0;
      left: 0;
      bottom: -3.6rem;
      width: 70%;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $black;
        opacity: 0.65;

        @supports (mix-blend-mode: multiply) {
          background-color: $blue;
          mix-blend-mode: multiply;
        }
      }

      @media (max-width: $lg) {
        width: 100%;
      }
    }

    .hero--black & {
      z-index: 1;
      width: 52%;
      height: 110%;

      @media (max-width: $lg) {
        width: 100%;
      }
    }
  }

  // body element exists in .hero--alt only
  &__body {
    width: 56%;
    padding: 3% 4%;
    position: absolute;
    bottom: -6%;
    left: 30%;
    background-color: $black;
    color: $white;
    text-align: left;

    &--white {
      background-color: $white;
      color: $black;
    }

    @media (max-width: $lg) {
      width: 72%;
      position: relative;
      transform: translateY(4rem);
    }

    @media (max-width: $md) {
      width: 100%;
      left: auto;
      padding: 4% 5%;
    }
  }

  &__video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 0.8s $ease-out-quint;

    &--video-loading {
      opacity: 0;
    }

    > video {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-height: 100%;
      min-width: 100%;
    }
  }
}
