.image-cluster {
  &__item {
    // position: absolute;
    width: 38rem;
    height: 26rem;
    // 
    // &:nth-child(1) {
    //   top: $inner-padding;
    //   left: $inner-padding;
    // }
    //
    // &:nth-child(2) {
    //   top: 260px;
    //   left: $inner-padding / 2;
    // }
  }

  &__image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
