.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  &__control {
    @include reset-button();
    outline: none;
    position: relative;
    display: inline-block;
    width: 2.4rem;
    height: 2.4rem;

    &::before {
      content: '';
      width: 0.6rem;
      height: 0.6rem;
      position: absolute;
      top: 50%;
      left: 50%;
      display: inline-block;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: border-color 0.7s $ease-out-expo, opacity 0.7s $ease-out-expo;
    }

    &--prev {
      &::before {
        border-left: 0.2rem solid $black;
        border-bottom: 0.2rem solid $black;
      }

      &:hover {
        &::before {
            border-color: $gold;
        }
      }
    }

    &--next {
      &::before {
        border-right: 0.2rem solid $black;
        border-top: 0.2rem solid $black;
      }

      &:hover {
        &::before {
            border-color: $gold;
        }
      }
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.25;
    }
  }

  &__page-list {
    @include reset-list();
    display: flex;
  }

  &__page-link {
    @include reset-anchor();
    @include reset-button();
    @include type-style-nav-md();
    outline: none;
    color: $black;
    padding: 1rem;
    transition: color 0.4s $ease-out-quint;

    &:hover {
      color: $gold;
    }

    &--current {
      color: $gold;
      pointer-events: none;
      &::after {
        transform: scale(1);
      }
    }
  }
}
