.section {
  width: 100%;
  position: relative;

  &--alt {
    background-color: $gray-3;
  }

  &__row {
    display: flex;
    padding: 8% $inner-padding 0;

    &:last-child {
      padding-bottom: 8%;
    }
  }
}
