.section {
  width: 100%;
  position: relative;
  background-color: $white;

  &--top {
    z-index: 1;
  }

  &__row {
    display: flex;
  }

  &__container {
    width: 100%;
    margin: 0 auto;

    &--65 {
      max-width: 70rem;
    }

    &--70 {
      max-width: 70rem;
    }

    &--left {
      margin: 0;
    }
  }
}
