.section {
  width: 100%;
  // min-height: 60rem;
  position: relative;

  &__row {
    display: flex;
    padding: 8% $inner-padding 0;

    &:last-child {
      padding-bottom: 8%;
    }
  }

  &__container {
    width: 100%;
    margin: 0 auto;

    &--70 {
      max-width: 70rem;
    }
  }
}
