.text-button {
  @include reset-anchor();
  @include type-style-action();


  &--underline {
    text-decoration: underline !important;
    transition: color 0.3s;

    @include hover-both {
      color: $gold;
    }
  }

  &--large {
    font-size: 2rem;
    font-weight: 700;
  }
}
