.text-block {
  position: relative;
  z-index: 1;
  flex-basis: 58%;

  &__heading {
    @include type-style-heading-lg();
  }

  &__subheading {
    @include type-style-heading-md();
  }

  &__heading,
  &__subheading {
    margin-bottom: 4rem;
  }

  &__rule {
    display: block;
    width: 4rem;
    height: 0.6rem;
    background-color: $black;
    margin-bottom: 0.8rem;
  }

  &__body {
    padding-left: 14%;

    .p1 {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
    }
  }
}
