.board-member-list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  margin: -3rem;

  &__item {
    flex-basis: calc(100% / 7);
    padding: 3rem;
    text-align: center;
  }

  &__image-mask {
    width: 8.5rem;
    height: 8.5rem;
    background-color: $white;
    border: 2px solid $black;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem auto;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__name,
  &__meta {
    @include type-style-action;
    text-transform: none;
  }

  &__name {
    margin-bottom: 0.5rem;
  }

  &__meta {
    font-style: italic;
  }
}
