.board-member-list {
  @include reset-list();
  display: flex;
  flex-wrap: wrap;
  min-width: $lg;

  &__item {
    flex-basis: calc(100% / 7);
    padding: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;

    @media (max-width: $lg) {
      margin-bottom: 1.5rem;
    }
  }

  &__image-mask {
    width: 8rem;
    height: 8rem;
    background-color: $white;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 1rem auto;
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__name,
  &__meta {
    @include type-style-action;
    text-transform: none;
  }

  &__name {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }

  &__meta {
    font-style: italic;
  }
}
