.downloads-list {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: -4rem;
  padding: 4rem 5rem;
  border: 1px solid $gray;
  background-color: $white;

  &__button {
    display: block;
  }
}
