.faq-archive-list {
  @include reset-list();
  padding: $inner-padding-lg 0 4rem;

  @media (max-width: $sm) {
    padding-bottom: 2rem;
  }

  &__item {

  }

  &__entry {
    margin-bottom: 5rem;
  }

  &__question {
    @include type-style-heading-sm();
    margin-bottom: 2rem;
  }

  &__answer   {

    .p1 {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
