.featured-member {
  background-color: $black;
  color: $white;
  margin-top: -3.6rem;
  padding: 7rem 10rem;
  position: relative;

  @media (max-width: $md) {
    margin-top: 0;
  }

  @media (max-width: $sm) {
    padding: 12% 3rem;
  }

  &__heading {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -58%);
    @include type-style-display-sm();
    text-transform: none;

    @media (max-width: $sm) {
      position: relative;
      transform: none;
      top: auto;
      left: auto;
      font-size: 4rem;
      margin-bottom: 4rem;
    }
  }

  &__row {
    display: flex;
    align-items: center;

    @media (max-width: $md) {
      display: block;
      text-align: center;
    }
  }

  &__column {
    flex-basis: 50%;

    &:not(:last-child) {
      padding-right: 12rem;

      @media (max-width: $md) {
        padding-right: 0;
      }
    }
  }

  &__image {
    width: 100%;
    height: auto;

    @media (max-width: $md) {
      width: 40%;
      margin-bottom: 4rem;
    }
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.6rem;
    margin-bottom: 4.5rem;
  }

  &__membership-cta-link {
    display: inline-block;
    @include reset-anchor();
    @include type-style-action();
    text-decoration: underline;
    transition: color 0.3s;

    @include hover-both() {
      color: $gold;
    }
  }
}
