.featured-member {
  background-color: $black;
  color: $white;
  margin-top: -3.6rem;
  padding: 7rem 10rem;
  position: relative;

  &__heading {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translate(-50%, -58%);
    @include type-style-display-sm();
    text-transform: none;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__column {
    flex-basis: 50%;

    &:not(:last-child) {
      padding-right: 12rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__title {
    margin-bottom: 2rem;
  }

  &__description {
    font-size: 1.6rem;
    margin-bottom: 4.5rem;
  }

  &__membership-cta-link {
    display: inline-block;
    @include reset-anchor();
    @include type-style-action();
    text-decoration: underline;
    transition: color 0.3s;

    @include hover-both() {
      color: $gold;
    }
  }
}
