.filter-group {
  display: flex;
  @include reset-list();
  animation: o-fade-in 0.2s forwards;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }

  &--industry {
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 1;
  }

  &--sector {
    width: 100%;
    flex-wrap: wrap;
    margin-left: -0.8rem;
  }
}
