.member-logo-grid {
  display: flex;
  flex-wrap: wrap;
  margin: -3rem -6rem 2rem -6rem;
  flex: 1;

  &__item {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;

    &--square {
      padding: 3rem 8rem;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
