.member-logo-grid {
  position: relative;

  &__group {
    display: flex;
    flex-wrap: wrap;
    margin: -3rem -6rem 2rem -6rem;
    flex: 1;

    @media (max-width: $lg) {
      margin-right: 0;
      margin-left: 0;
    }

    &--hidden {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  &__item {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    height: 14rem;
    transition: opacity 0.8s $ease-out-quint;

    @media (max-width: $lg) {
      padding: 3rem 4rem;
    }

    &--square {
      padding: 4rem 10rem;

      @media (max-width: $lg) {
        padding: 3rem 6rem;
      }
    }

    .member-logo-grid__group--visible & {
      transition-delay: 0.8s;
      opacity: 1;
    }

    .member-logo-grid__group--hidden & {
      opacity: 0;
    }
  }

  &__image {
    width: 100%;
    height: auto;
  }
}
