.member-grid {
  position: relative;
  display: flex;

  &__list,
  &__skeleton {
    @include reset-list();
    display: inline-block;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: 0 -1.5rem;
  }

  &__list {
    transition: opacity 1s $ease-out-quint;

    .member-grid--loading & {
      opacity: 0;
    }
  }

  &__skeleton {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s $ease-out-quint;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    .member-grid--loading & {
      opacity: 1;
    }
  }
}
