.page-navigation {
  position: fixed;
  top: 16%;
  left: 0;
  z-index: 10;

  &__link {
    @include reset-anchor();
    @include type-style-nav-sm();
    position: relative;
    display: block;
    padding: 1.5rem 0 1.5rem 6.5rem;
    color: $black;
    transition: color 0.8s $ease-out-expo;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 0;
      width: 5rem;
      height: 0.1rem;
      background-color: $black;
      transform-origin: left;
      transform: scaleX(0.3);
      transition: transform 0.8s $ease-out-expo, background-color 0.8s $ease-out-expo;
    }

    &--white {
      color: $white;

      &::before {
        background-color: $white;
      }
    }

    &:hover,
    &--active {
      color: $gold;

      &::before {
        background-color: $gold;
        transform: scaleX(1);
      }
    }
  }
}
