.press-archive-list {
  @include reset-list();

  &__item {
    margin-bottom: 7.2rem;
  }

  &__link {
    display: inline-block;
    color: $black;
    position: relative;
    padding-left: 16rem;
  }

  &__date {
    position: absolute;
    left: 0;
    top: 0;
    width: 11rem;
    height: 11rem;
    background-color: $gray-3;
    border-radius: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__month {
    display: block;
    @include type-style-heading-xs();
  }

  &__day {
    display: block;
    @include type-style-display-sm();
    line-height: 0.65;
  }

  &__source {
    // @include type-style-heading-sm();
    // margin-bottom: 1.2rem;
    @include type-style-label();
    text-transform: none;
    margin-bottom: 1.2rem;
    opacity: 0.5;
  }

  &__title {
    @include type-style-heading-lg();
    text-transform: none;
    margin-bottom: 2rem;
  }
}
