.primary-navigation {
  display: flex;
  margin-left: auto;

  &__list {
    @include reset-list();
    display: flex;
    margin-left: auto;
  }

  &__link {
    @include type-style-nav();
    display: flex;
    align-items: center;
    height: $header-size;
    padding: 0 2rem;
    color: $black;
  }
}
