.scroll-cta {
  display: flex;
  align-items: baseline;
  justify-content: center;

  &__arrow {
    &--left {
      z-index: 1;
    }
    &--right {
      z-index: 1;
    }
  }

  &__text {
    @include type-style-display-sm();
    font-style: italic;
    font-size: 1.5rem;
    margin: 0 1rem;
    z-index: 1;
  }
}
