.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-size;
  padding: 0 $inner-padding-md;
  background-color: #fff;
  z-index: 8888;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  transition: transform 0.8s $ease-out-quint;

  @media (max-width: $xl) {
    padding: 0 4rem;
  }

  @media (max-width: $lg) {
    height: $header-size-mobile;
  }

  &--is-hidden {
    transform: translateY(-100%);
  }

  &__logo {
    height: $header-size;
    display: flex;
    align-items: center;

    svg {
      width: 17.2rem;
      height: 4.5rem;
    }
  }
}
