.sponsor-group {
  transform: translateY(-6.4rem);

  &__inner {

  }

  &__row {

  }

  &__list {
    @include reset-list();
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4rem;

    @media (max-width: $md) {
      flex-wrap: nowrap;
      min-width: $md;
    }

    &--logo-only {
      align-items: center;
    }
  }
}
