.stat {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-right: 10%;  
  }

  &__number {
    @include type-style-display-md();
    color: $gold;
    margin-bottom: 3rem;
  }

  &__caption {
    @include type-style-heading-xs();
  }
}
