.testimonial-slider {
  width: 100%;
  max-width: 80rem;
  height: 64rem;
  position: relative;

  @media (max-width: $lg) {
    max-width: none;
    height: 56rem;
  }

  &--hidden-lg {
    @media (max-width: $lg) {
      display: none;
    }
  }

  &__quote-list {
    @include reset-list();
  }

  &__quote-item {
    position: absolute;
    top: $inner-padding-lg;

    @media (max-width: $lg) {
      top: $inner-padding-md;
    }

    .testimonial-slider--white & {
      color: $white;
    }

    .line {
      display: block;
      overflow: hidden;

      .line__inner {
        display: block;
        transform: translateY(100%);
      }

      @for $i from 0 through 10 {
        &:nth-of-type(#{$i + 1}) .line__inner {
          transition: transform 0.7s $ease-out-quint 0.05 * 3 - $i * 0.05s;
        }
      }
    }

    &--active .line {
      .line__inner {
        transform: translateY(0) !important;
      }

      @for $i from 0 through 10 {
        &:nth-of-type(#{$i + 1}) .line__inner {
          transition: transform 1s $ease-in-out-quint 0.25s + $i * 0.025s;
        }
      }
    }
  }

  &__quote {
    @include type-style-display-sm();
    line-height: 1.4;
    margin-bottom: 2.6rem;
    padding-top: 4rem;
    padding-right: $inner-padding-lg;
    font-size: 3rem;

    &::before {
      content: open-quote;
      display: block;
      font-size: 2em;
      line-height: 0.3;
    }

    @media (max-width: $md) {
      padding-right: 3rem;
    }

    @media (max-width: $sm) {
      font-size: 2.4rem;
    }
  }

  &__attribution {
    display: inline-block;
    @include type-style-heading-xs();
    overflow: hidden;
  }

  &__pagination {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-bottom: $inner-padding-md;
    display: flex;
    align-items: center;
  }
}
