// Colors

$white: #fff;
$black: #181920;
$gold: #D9A03E;
$light-gold: #F8D57C;
$blue: #363D4F;
$tint-blue: #3D4559;
$light-blue: #BDC4CB;


$gray: #9c9c9c;
$gray-1: #363D4F;
$gray-2: #B5B9C2;
$gray-3: #F3F5F9;
