<a class="circle-button" href="{{ url }}">
  <span class="circle-button__circle">
    <span class="circle-button__arrow">
      {% include 'arrow-' ~ direction ~ '.twig' %}
    </span>
    <span class="circle-button__arrow">
      {% include 'arrow-' ~ direction ~ '.twig' %}
    </span>
  </span>
  <span class="circle-button__label">
    {{ label }}
  </span>
</a>
