<!-- FAQ Section -->
<section id="faq" class="section bg-alt">
  <div class="section__row flex-column">
    <div class="text-block__heading">
      <span class="text-block__rule"></span>
      {{ props.heading }}
    </div>
    <div>
      {% include "post-title-list.twig" with {
        "props": props.featured_posts
      } %}
      <a href="{{ site.link ~ '/faq' | relative }}" class="text-button">View all</a>
    </div>
  </div>
</section>
