<div class="hero hero--{{ is_home ? 'front-page' : 'half-image' }}">
  {% if hero_image %}
    <div class="hero__image" style="background-image: url({{ Image(hero_image).src }});"></div>
  {% endif %}
  <div class="hero__inner">
    <h1 class="hero__heading">
      {{ hero_text }}
    </h1>
  </div>
</div>
