<div class="{{ is_home ? 'hero hero--front-page' : 'hero' }}">
  {% if hero_image %}
    <div class="hero__image js-parallax" data-speed="-0.25" style="background-image: url({{ TimberImage(hero_image).src }});"></div>
  {% endif %}
  <div class="hero__inner">
    <h1 class="hero__text js-parallax" data-speed="0.05">
      {{ hero_text }}
    </h1>
  </div>
</div>
