<div class="hero hero--alt">
  <div class="hero__inner">
    <h1 class="hero__heading js-parallax" data-speed="-0.05">
      {{ hero_text }}
    </h1>
    <div class="hero__body js-parallax{{ is_white ? ' hero__body--white' }}"
    data-speed="0.05">
      {{ hero_body }}
    </div>
  </div>
</div>
