<div class="hero hero--alt">
  <div class="hero__inner">
    <h1 class="hero__heading">
      {{ hero_text }}
    </h1>
    <div class="hero__body{{ is_white ? ' hero__body--white' }}">
      {{ hero_body }}
    </div>
  </div>
</div>
