{% set image_count = images|length %}

{% if image_count %}
  <div class="image-cluster">
    {% for image in images %}
      {% include "image-cluster-item.twig" with {
        'src': image.url
      } %}
    {% endfor %}
  </div>
{% endif %}
