<div class="image-cluster__item js-parallax" data-speed="{{ index * 0.1 }}">
  <div class="image-cluster__transform js-mask">
    <div class="image-cluster__image js-image" style="background-image: url({{ src }})"></div>
  </div>
</div>
