<ul class="impact-tease-list">
  {% for item in props %}
    <li class="impact-tease-list__item">
      <a class="impact-tease-list__link no-barba" target="_blank" rel="nofollow noreferrer" href="{{ item.get_field('file') }}">
        <!-- <div class="impact-tease-list__inner">
          <h3 class="impact-tease-list__title">{{ item.title }}</h3>
          <span class="impact-tease-list__rule"></span>
          <div class="impact-tease-list__excerpt">{{ item.content }}</div>
        </div> -->

        <div
          class="impact-tease-list__image"
          style="background-image: url({{ Image(item.thumbnail).src }})"></div>
      </a>
    </li>
  {% endfor %}
</ul>
