<button class="js-mobile-toggle mobile-toggle">
  <span class="mobile-toggle__inner">
    <span class="burger">
      <span class="burger__line burger__line--1"></span>
      <span class="burger__line burger__line--2"></span>
      <span class="burger__line burger__line--3"></span>
    </span>
    <span class="close-icon">
      <span class="close-icon__line close-icon__line--1"></span>
      <span class="close-icon__line close-icon__line--2"></span>
    </span>
  </span>
</button>
