<ul class="post-title-list">
  {% for item in props %}
    <li class="post-title-list__item">
      <a href="{{ item.link|relative }}" class="post-title-list__link">
        <span class="post-title-list__title-text">
          {{ item.title }}
        </span>
        <span class="post-title-list__arrow">
          {% include 'arrow-right.twig' with {
            color: colors.white
          } %}
        </span>
      </a>
    </li>
  {% endfor %}
</ul>
