<ul class="press-archive-list">
  {% set last_press_publish_year = 5000 %}
  {% for post in props %}
    {% set press_publish_year = post.publish_date|date('Y') %}
    {% if loop.index == 1 or press_publish_year < last_press_publish_year %}
      <h3 class="text-block__heading">
        <div class="text-block__rule"></div>
        {{ press_publish_year }}
      </h3>
      {% set last_press_publish_year = post.publish_date|date('Y') %}
    {% endif %}
    {% include "list-card.twig" with {
      "link": post.get_field('link'),
      "target": "_blank",
      "date_circle": post.publish_date,
      "subheading": post.source,
      "heading": post.title,
      "action": 'Read article',
      "list_card_classes": 'mb-7'
    } %}
  {% endfor %}
</ul>
