<div class="scroll-cta">
  <div class="scroll-cta__arrow scroll-cta__arrow--left">
    {% include "arrow-left.twig" with {
      "color": colors.gold
    } %}
  </div>
  <div class="scroll-cta__text">Scroll</div>
  <div class="scroll-cta__arrow scroll-cta__arrow--right">
    {% include "arrow-right.twig" with {
      "color": colors.gold
    } %}
  </div>
</div>
