<footer class="site-footer flex justify-content-center align-items-end"
  style="background-color: {{ colors.black }}; height: 320px; border-top: 0.2rem solid {{ colors.white }}">
  <span class="text-button py-3p" style="color: {{ colors.white }}; font-weight: 700;">Copyright NEVCA 2017</span>
</footer>
