<header class="js-site-header site-header">
  <a href="{{ site.link }}" class="site-header__logo js-menu-link">
    {% include "header-logo.twig" with {
      "color": colors.black
    } %}
  </a>

  {% include "primary-navigation.twig" with { "menu": menu } %}

  {% include "mobile-toggle.twig" %}
</header>
