<footer class="site-footer flex justify-content-center align-items-end"
  style="background-color: #B5B9C2; height: 320px">
  <span class="text-button p-y-3p" style="color: white; font-weight: 700;">Copyright NEVCA 2017</span>
</footer>
