<div class="term-navigation pt-6p pt-10p-md pb-8p pb-14p-md pb-16p-sm px-8p px-4p-lg px-3-md is-black relative">
  <h2 class="term-navigation__heading">Browse Resources</h2>
  <ul class="term-navigation__list pt-3p pt-4-lg pt-3-lg">
    {% for topic in resource_topics %}
      <li class="term-navigation__item">
        <a class="term-navigation__link" href="{{ '#' ~ topic.slug }}">
          <h3 class="term-navigation__term-name">
            {{ topic.name }}
            <span data-name="{{ topic.name }}"></span>
          </h3>
        </a>
        <div class="term-navigation__count">
          <div class="term-navigation__count--inner">
            {{ topic.count }}
            <span>Resources</span>
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>
