{% if not tag %}
  {% set tag = 'h2' %}
{% endif %}

<div class="text-block">
  <{{ tag }} class="text-block__heading">
    <span class="text-block__rule"></span>
    {{ props.heading }}
  </{{ tag }}>
  <div class="text-block__body">
    {{ props.body }}
  </div>
</div>
