html {
  font-size: 0.7vw;

  @media (max-width: $lg) {
    font-size: 8px;
  }
}


* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: 'liga' on;

  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


html,
body {
  width: 100%;
  height: 100%;
}


body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 1.8rem;
  background-color: $white;
  color: $black;
  font-family: $font-body;
  //background-color: $black;
}

::selection {
  background-color: rgba($black, 1);
  color: $white;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}
