{% extends 'base.twig' %}

{% block content %}

  <div class="view" data-namespace="press">
    {% include "hero.twig" with {
      "hero_text": 'IN THE PRESS'
    } %}

    <section class="js-section section p-12p">
      <div class="section__container section__container--70 section__container--left">
        {% if posts %}
          {% include "press-archive-list.twig" with {
            "props": posts
          } %}
          {% include "pagination.twig" with {
            "props": posts
          } %}
        {% else %}
          Nothing to show.
        {% endif %}
      </div>

      <aside class="button-group">
        <h4 class="text-block__subheading">Media</h4>
        {% for download in options.downloads %}
          <a class="button-group__button button"
             href="{{ download.file }}" target="_blank">{{ download.button_label }}</a>
        {% endfor %}
      </aside>
    </section>

    {% include "site-footer.twig" %}
  </div>

{% endblock %}
