{% extends 'base.twig' %}

{% block content %}
  <div class="view" data-namespace="impact-reports">
    {% include "hero.twig" with {
      "hero_text": options.impact_report_page_options.hero_text,
      "aux": true
    } %}

    <section class="js-section section">
      <div class="section__container pt-10p px-8p">
        {% if posts %}
          <ul class="impact-report-grid">
            {% for post in posts %}
              <li class="impact-report-card">
                <a href="{{ post.get_field('file') }}" class="impact-report-card__link" target="_blank" rel="nofollow noreferrer">
                  <figure class="impact-report-card__figure">
                    <div class="impact-report-card__inner">
                      <img
                        class="impact-report-card__logo"
                        src="{{ Image(post.thumbnail).src }}"
                        alt="{{ post.title ~ 'Impact Report' }}"
                      />
                      <span class="impact-report-card__hover">
                        <span>View</span>
                      </span>
                    </div>
                  </figure>
                </a>
              </li>
            {% endfor %}
          </ul>
          <div class="mb-12p">
            {% include "pagination.twig" with {
              "props": posts
            } %}
          </div>
        {% endif %}
      </div>
    </section>

    {% include "faq-tease-block.twig" with {
      "props": {
        "heading": options.default_faqs_heading.heading,
        "featured_posts": options.default_faqs
      }
    } %}
    {% include "site-footer.twig" %}
  </div>

{% endblock %}
