{% extends 'base.twig' %}

{% block content %}

  <div class="view" data-namespace="resources">
    {% include "term-navigation.twig" with {
      "resource_topics": resource_topics
    } %}
    <div class="translate-y-n7 px-6p">
      <div class="flex">
        {# maximum of 5 featured resources #}
        {% for type in resource_types|slice(0, 4) %}
          {# get latest post in each resource type #}
          {% set post = Term(type).posts[0] %}
          {% include "list-card.twig" with {
            "subheading": Term(post.resource_topic).name ~ ' | ' ~ type.name,
            "heading": post.title,
            "body": post.description,
            "rule": true,
            "list_card_classes": 'flex-1 m-1 min-w-0 is-blue',
            "list_card_link_classes": 'p-2 overflow-hidden'
          } %}
        {% endfor %}
      </div>
    </div>
    {% for topic in resource_topics %}
      <div id="{{ topic.slug }}" class="js-section section">
        <div class="py-6p">
          <div class="relative">
            <div class="resource-topic-collection resource-topic-collection--{{ loop.index is odd ? 'odd' : 'even' }}">
              <h3 class="resource-topic-collection__heading">
                <span>{{ topic.name }}</span>
              </h3>
              <div class="resource-topic-collection__row">
                <ul class="resource-topic-collection__list">
                  {% for post in Term(topic).posts|slice(0, 4) %}
                    {% set type = post.get_terms('resource_type')[0] %}
                    {% include "list-card.twig" with {
                      "subheading": type.name,
                      "heading": post.title,
                      "body": post.description|length ? post.description : "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.",
                      "rule": true,
                      "link": post.link_type == 'file' ? post.get_field('file') : post.get_field('link').url,
                      "target": '_blank',
                      "list_card_classes": 'flex-basis-25 px-2',
                      "action": post.type.slug == 'video' ? 'Watch video' : 'View more'
                    } %}
                  {% endfor %}
                </ul>
                <div class="px-4p">
                  {% include 'circle-button.twig' with {
                    direction: loop.index is odd ? 'right' : 'left',
                    url: Term(topic).link|relative,
                    label: 'Show all',
                    color: colors.gold
                  } %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}

    {% include "site-footer.twig" %}
  </div>
{% endblock %}
