{% extends 'base.twig' %}

{% block content %}

HELLO WORLD!!!


  <div class="view" data-namespace="impact-reports">
    {% include "hero.twig" with {
      "hero_text": options.press_page_options.hero_text,
      "aux": true
    } %}

    <section class="js-section section p-12p px-0-md pb-0-md relative">
      <div class="flex block-lg">
        <div class="absolute hidden-lg pos-l pos-t pos-r pt-7 is-black"></div>
        <div class="flex-1 mb-4-lg z-index-1 px-3-md">
          {% if posts %}
            {% include "press-archive-list.twig" with {
              "props": posts
            } %}
            {% include "pagination.twig" with {
              "props": posts
            } %}
          {% else %}
            Nothing to show.
          {% endif %}
        </div>

        <div class="flex-1 z-index-1">
          <div class="is-blue py-5 pl-5 pr-8p px-12p-lg absolute relative-lg pos-tr">
            <h4 class="text-block__heading">Media</h4>
            <div class="button-group">
              {% for download in options.downloads %}
                <a class="button-group__button button button--white"
                   href="{{ download.file }}" target="_blank">
                   <span>
                     {{ download.button_label }}
                   </span>
                 </a>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>

    {% include "faq-tease-block.twig" with {
      "props": {
        "heading": options.default_faqs_heading.heading,
        "featured_posts": options.default_faqs
      }
    } %}
    {% include "site-footer.twig" %}
  </div>

{% endblock %}
