{% extends "base.twig" %}

{% block content %}

  <div class="view" data-namespace="home">

    <!-- Hero -->
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "is_home": true
    } %}

    <!-- Mission -->
    <section id="mission" class="section">
      <div class="section__row justify-content-end">

        <!-- Mission Text -->
        {% include "text-block.twig" with {
          "props": post.get_field("mission_block"),
          "button": true
        } %}

        <!-- Mission Images -->
        {% include "image-cluster.twig" with {
          "images": post.get_field("mission_block").image_cluster,
          "ampersand": true
        } %}

      </div>
    </section>

    <!-- Events -->
    <section id="events" class="section section--alt">

      <!-- Events Text -->
      <div class="section__row">
        {% include "text-block.twig" with {
          "props": post.get_field("events_block")
        } %}
      </div>

      <!-- Event Tease List -->
      <div class="section__row">
        <div class="relative w-100">
          <ul class="event-tease-list">
            {% for i in 1..4 %}
              <li class="event-tease-list__item">
                <a class="event-tease-list__link" href="#0">Event {{ i }}</a>
              </li>
            {% endfor %}
          </ul>

          <!-- View more circle button -->
          <div class="absolute pos-br translate-x-100 p-left-3">
            {% include 'circle-button.twig' with {
              direction: 'right',
              url: '/events',
              label: 'View all'
            } %}
          </div>
        </div>
      </div>
    </section>

    <div style="height: 1000px;" />
  </div>

{% endblock %}
