{% extends "base.twig" %}

{% block content %}

  <div class="view" data-namespace="home">

    <!-- Hero -->
    {% include "hero.twig" with {
      "hero_text": post.hero_text,
      "is_home": true
    } %}

    <!-- Mission -->
    <section id="mission" class="mission">
      <div class="mission__inner">

        <!-- Mission Text -->
        {% include "text-block.twig" with {
          "props": post.get_field("mission_block"),
          "button": true
        } %}

        <!-- Mission Images -->
        {% include "image-cluster.twig" with {
          "images": post.get_field("mission_block").image_cluster,
          "ampersand": true
        } %}

      </div>
    </section>

    <div style="height: 1000px;" />
  </div>

{% endblock %}
