{% extends 'base.twig' %}

{% block content %}

  <div class="view" data-namespace="single">
    {% include "hero.twig" with {
      "hero_text": "WE MAKE MASSACHUSETTS THE BEST PLACE IN THE WORLD TO START NEW COMPANIES."
    } %}
  </div>

{% endblock %}
