{% extends 'base.twig' %}

{% set featured_programs = post.get_field('featured_posts') %}
{% set text_block = post.get_field('text_block') %}


{% block content %}

  <div class="view" data-namespace="portfolio">

    {% include 'hero-alt.twig' with {
      hero_text: post.hero_text,
      hero_body: post.hero_body,
      is_white: false
    } %}

    {% include 'program-list.twig' with {
      "featured_programs": featured_programs
    } %}

    <nav class="js-page-navigation page-navigation inactive">
      <ul class="page-navigation__list">
        {% for item in featured_programs %}
          <li class="page-navigation__item">
            <a class="js-anchor-link page-navigation__link" href="{{ '#' ~ item.slug }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>

    {% include "site-footer.twig" %}
  </div>

{% endblock %}
