{% extends 'base.twig' %}

{% block content %}

  <div class="view" data-namespace="members">
    <h1>{{post.title}}</h1>
    <div>{{post.content}}</div>
    <div class="browse-members"></div>
  </div>

{% endblock %}
