{% extends 'base.twig' %}

{% block content %}

  <div class="view" data-namespace="single">
    <div class="py-12p px-20p">
    <h1>{{post.title}}</h1>
    <div>{{post.content}}</div>
    </div>
    {% include "faq-tease-block.twig" with {
      "props": {
        "heading": options.default_faqs_heading.heading,
        "featured_posts": options.default_faqs
      }
    } %}
    {% include "site-footer.twig" %}
  </div>

{% endblock %}
