// Mixins

// -- Table of Contents --------------------------------------------------------
//
// 1. Resets
// 2. Hover/Active States
// 3. Type Styles
//
// -----------------------------------------------------------------------------





// -----------------------------------------------------------------------------
//
// 1. Resets
//
// -----------------------------------------------------------------------------


@mixin reset-anchor() {
  color: currentColor;
  text-decoration: none;
}


@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}


@mixin reset-button() {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  &:not(input) {
    user-select: none;
  }
}



// -----------------------------------------------------------------------------
//
// 2. Hover/Active States
//
// -----------------------------------------------------------------------------


@mixin hover-mouse() {
  &:hover {
    body.is-mouse & {
      @content;
    }
  }
}


@mixin hover-touch() {
  &:active {
    body.is-touch & {
      @content;
    }
  }
}


@mixin hover-both() {
  &:hover {
    body.is-mouse & {
      @content;
    }
  }

  &:active {
    body.is-touch & {
      @content;
    }
  }
}



// -----------------------------------------------------------------------------
//
// 3. Type Styles
//
// -----------------------------------------------------------------------------


@mixin type-style-nav() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

@mixin type-style-heading-xxl() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 9rem;
  text-transform: uppercase;
}

@mixin type-style-heading-xl() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 7rem;
  text-transform: uppercase;
}

@mixin type-style-heading-lg() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}

@mixin type-style-heading-md() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 2.6rem;
  text-transform: uppercase;
}

@mixin type-style-heading-sm() {
  font-family: $font-heading;
  font-weight: 700;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@mixin type-style-body($weight: 400) {
  font-family: $font-body;
  font-weight: $weight;
  font-size: 2rem;
}

@mixin type-style-action() {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1.5rem;
}

@mixin type-style-label() {
  font-family: $font-body;
  font-weight: 400;
  font-size: 1.1rem;
  font-style: italic;
}

@mixin type-style-display-md() {
  font-family: $font-display;
  font-weight: 900;
  font-size: 10rem;
}

@mixin type-style-display-sm() {
  font-family: $font-display;
  font-weight: 900;
  font-size: 5rem;
}
