// Modern Tribe Events Calendar Custom Styles

// -- Table of Contents --------------------------------------------------------
//
// 1. General Styles
// 2. Filter Bar
//
// -----------------------------------------------------------------------------

// Must be wrapped to prioritize custom styles
#tribe-events {


// -----------------------------------------------------------------------------
//
// 1. General Styles
//
// -----------------------------------------------------------------------------


  h2.tribe-events-page-title {
    @include type-style-heading-lg();
  }

  a {
    @include reset-anchor();
  }

  #tribe-events-header,
  #tribe-events-footer {
    ul.tribe-events-sub-nav a{
        font-weight: bold;
        transition: color 0.7s $ease-out-expo;
      &:hover{
        color: $gold;

        .pagination__control {
          &::before {
            border-color: $gold;
          }
        }
      }
    }
  }

  .tribe-events-back{
    font-weight: bold;
    transition: color 0.7s $ease-out-expo;
    &:hover{
      color: $gold;

    .pagination__control {
      &::before {
        border-color: $gold;
        }
      }
    }
  }


  .tribe-events-schedule .tribe-events-notices{
    text-align: center;
    margin-top: 3rem;
  }

  .tribe-events-notices {
      @include type-style-label();
      color: $blue;
      font-size: 2rem;
      background: $white;
      border-radius: .4rem;
      border: .0rem solid $light-gold;
      margin: 1rem 0 1.8rem;
      padding: .8rem 3.5rem .8rem 1.4rem;
      text-shadow: 0 0 0 #fff;
    }

// -----------------------------------------------------------------------------
//
// 2. Filter Bar
//
// -----------------------------------------------------------------------------

  #tribe-bar-form {
    background-color: $blue;
    color: $white;

    // Filter label
    .tribe-bar-filters label {
      @include type-style-heading-xs();
    }

    // Event views label
    .tribe-bar-views-inner label {
      @include type-style-heading-xs();
    }

    // Filter input
    input[type=text] {
      @include type-style-label();
      font-size: 1.3rem;
      padding: .5rem .5rem .5rem 0px;
      color: $white;
      border-bottom: .1rem solid $white;

      &:focus {
        outline: none;
        border-bottom: .1rem solid $white;
        color: $gold;
      }
      // Restyling the placeholder text
      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $white;
      }
      &::-moz-placeholder { /* Firefox 19+ */
        color: $white;
        opacity: 1;
      }
      &:-ms-input-placeholder { /* IE 10+ */
        color: $white;
      }
      &:-moz-input-placeholder { /* Firefox 18- */
        color: $white;
        opacity: 1;
      }
    }

    // Event views options
    #tribe-bar-views {
      .tribe-bar-views-list .tribe-bar-views-option a {
        @include type-style-action();
        background: $white;

        &:hover{
          background: $gold;
          color: $blue;
        }
      }
      // Background of the views selector
      .tribe-bar-views-inner {
        background: $tint-blue;
      }
    }// #tribe-bar-views
  } // #tribe-bar-form



// -----------------------------------------------------------------------------
//
// 3. Month - Calendar
//
// -----------------------------------------------------------------------------

  #tribe-events-content {

    .tribe-events-calendar {
      // Calendar Lines
      td {
          border: .1rem solid $light-blue;
          height: 14.5rem;
      }

      // Day label
      th {
        @include type-style-heading-xs();
        background-color: $blue;
        color: white;
        text-transform: capitalize;
      }

      // Cell number
      div[id*=tribe-events-daynum-],
      div[id*=tribe-events-daynum-] a {
        background-color: $gray-3;
        color: $blue;
      }

      // Event name
      div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
        @include type-style-action();
        font-size: 1.2rem;
        color: black;
      }

      div[id*=tribe-events-event-] h3.tribe-events-month-event-title a:hover{
        color: $gold;
      }

    } // .tribe-events-calendar

    .tribe-events-tooltip {
      background-color: #f9f9f9;
      border: .1rem solid $black;
      width: 350px;
      // Event title
      h4 {
        background-color: $white;
        color: $gold;
        font-weight: bold;
        line-height: 1.4rem;
        padding: .8rem .5rem;
      }

      // Event description
      .tribe-event-description p{
        line-height: 1.4rem;
        padding-top: .5rem;
      }

      // Time of event
      .tribe-event-duration abbr{
        font-weight: bold;
      }
      // Event image
      .tribe-events-event-thumb {

      }

    } // .tribe-events-tooltip

  } // #tribe-events-content



// -----------------------------------------------------------------------------
//
// 4. Single Event
//
// -----------------------------------------------------------------------------

  .tribe-events-schedule {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $blue;
    color: white;
    padding: 12rem;
    margin-bottom: 4rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 40%);
    }

    .tribe-events-single-event-title {
      @include type-style-heading-lg();
      text-align: center;
    }
    .tribe_events_event_schedule_details {
      @include type-style-heading-sm();
      font-size: 2.7rem;
      text-align: center;
      margin-top: 2rem;
    }
    .tribe-events-cost {
      text-align: center;
    }
  }





} // Ends the #tribe-events selector


// Datepicker modal menu
.datepicker {
  // Year heading
  .datepicker-switch {
    font-family: $font-heading;
  }
  // Selected state for a month
  table tr td.active.active,
  table tr td span.active.active {
    background: $gold !important;
    color: $white !important;
  }
}// .datepicker

// Overrides for the dropdown
.datepicker.dropdown-menu {
    min-width: 1.6rem;
    list-style: none;
    background-color: #fff;
    border: 0.14rem solid $black !important;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0 !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: $black;
    font-size: 1.3rem;
    line-height: 2.0rem;
  }
