// Modern Tribe Events Calendar Custom Styles

// -- Table of Contents --------------------------------------------------------
//
// 1. General Styles
// 2. Filter Bar
// 3. Month View
// 4. List View
// 5. Day View
// 6. Week View
//
// -----------------------------------------------------------------------------

// Must be wrapped to prioritize custom styles
#tribe-events {


// -----------------------------------------------------------------------------
//
// 1. General Styles
//
// -----------------------------------------------------------------------------

  // Main title for different views
  h2.tribe-events-page-title {
    @include type-style-heading-lg();
    margin-top: 5rem;
  }

  #tribe-events-content a:not(.text-button):not(.text-button--underline),
  .tribe-events-organizer {
    @include reset-anchor();
    text-decoration: none;
  }

  #tribe-events-footer,
  #tribe-events-header,
  #tribe-events-bar {
    margin: 0;
  }

  // The previous & next event links in different views
  #tribe-events-header,
  #tribe-events-footer {
    ul.tribe-events-sub-nav a,
    .tribe-events-nav-previous a,
    .tribe-events-nav-next a{
        font-weight: bold;
        transition: color 0.7s $ease-out-expo;
        color: $black;
      &:hover{
        color: $gold;

        .pagination__control {
          &::before {
            border-color: $gold;
          }
        }
      }
    }
  }

      @media (max-width: 768px) {
        // Background color for prev & next month links on mobile
      .tribe-events-sub-nav li a {
        background-color: transparent;
        padding: 2rem 0;
      }
    }

  // Text that displays when there are no results
  .tribe-events-notices {
      @include type-style-label();
      color: $blue;
      font-size: 2rem;
      background: $white;
      border-radius: .4rem;
      border: .0rem solid $light-gold;
      margin: 1rem 0 1.8rem;
      padding: .8rem 3.5rem .8rem 1.4rem;
      text-shadow: 0 0 0 #fff;
    }

  // Text when an event has passed on a single event
  .tribe-events-schedule .tribe-events-notices {
    text-align: center;
    margin-top: 3rem;
  }

  // Event title on Day & List view
  h2.tribe-events-list-event-title,
  a.tribe-event-url {
    transition: color 0.2s ease;
    &:hover{
      color: $gold;
    }
  }

  // Venue details and address on Day & List view
  .tribe-events-venue-details a,
  .tribe-address {
    @include type-style-label();
    font-size: 1.4rem;
  }

  // Read more button on list & day view
  .tribe-events-read-more {
    font-weight: bold;
    transition: color 0.7s $ease-out-expo;
    &:hover{
      color: $gold !important;

      span.pagination__control {
        &::before {
          border-color: $gold;
        }
      }
    }
  }
// Export events button
  a.tribe-events-button {
    @include type-style-heading-xs();
    color: black;
    font-weight: 600 !important;
    background-color: $white;
    border: .2rem solid $gold;
    transition: color 0.7s $ease-out-expo;
    border-radius: 0;
    margin-bottom: 3rem;
    padding: 1.2rem 5.0rem;

    &:hover{
      color: $gold !important;
      background-color: transparent;
    }
  }
  @media (max-width: 768px) {
    a.tribe-events-button {
      padding: .6rem 1.0rem;
      height: 45px;
    }
  }


  //Hero label used for both Venue & Organizer pages
  .hero-label {
    @include type-style-label();
    text-align: center;
    font-size: 1.8rem;
  }

// -----------------------------------------------------------------------------
//
// 2. Filter Bar
//
// -----------------------------------------------------------------------------

#tribe-events-bar {
  width: 18%;
  position: fixed;
}

@media (max-width: $md) {
  #tribe-events-bar {
    position: relative;
    width: 100%;
  }
}

#tribe-bar-form {
  background-color: $white;

  // Filter label
  .tribe-bar-filters label {
    @include type-style-heading-xs();
  }

  .tribe-bar-filter {
    padding: 0 0 2rem 0;
    width: 100%;
    flex: 1;
  }

  // Event views label
  .tribe-bar-views-inner label {
    @include type-style-heading-xs();
    display: block;
    margin-bottom: 1rem;
    padding: 0;
  }

  #tribe-bar-views {
    width: 100%;
    float: none;
    left: auto;
    padding: 0;

    .tribe-bar-views-list .tribe-bar-views-option a {
      padding: 0.5rem 0;
    }
  }

  #tribe-bar-views .tribe-bar-views-list {
    background-color: $white;
    z-index: 1!important;
  }



  // Filter input
  input[type=text] {
    @include type-style-label();
    font-size: 1.3rem;
    padding: 0.5rem 0.5rem 0.5rem 0;
    margin-bottom: 2rem;
    color: $black;
    border-bottom: 0.2rem solid $light-blue;

    &:focus {
      outline: none;
      border-bottom: 0.2rem solid $light-blue;
      color: $gold;
    }

    // Restyling the placeholder text
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $white;
    }

    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $white;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $white;
    }

    &:-moz-input-placeholder {
      /* Firefox 18- */
      color: $white;
      opacity: 1;
    }
  }

  // Event views options
  #tribe-bar-views {
    .tribe-bar-views-list .tribe-bar-views-option a {
      @include type-style-action();
      background-color: transparent;
      &:hover {
        color: $gold;
      }
    }

    // Background of the views selector
    .tribe-bar-views-inner {
      padding: 0;
      background-color: transparent;
    }
  } // #tribe-bar-views
} // #tribe-bar-form

#tribe-bar-collapse-toggle {
  @include type-style-heading-xs();
  display: flex;
  background-color: $white;
  padding: 0;
  float: none;
  width: 100%;
}



// -----------------------------------------------------------------------------
//
// 3. Month View
//
// -----------------------------------------------------------------------------

  #tribe-events-content {

    .tribe-events-calendar {
      // Calendar Lines
      td {
          border: .1rem solid $light-blue;
          height: 14.5rem;
          &:after{
            background-color: $blue;
          }
      }
      // Selected state of a calendar cell on mobile
      td.mobile-active{
        background-color: $gold;
        &:after{
          background-color: $white;
        }
      }

      // Day label
      th {
        @include type-style-heading-xs();
        background-color: $blue;
        color: white;
        text-transform: capitalize;
      }

      // Cell number
      div[id*=tribe-events-daynum-],
      div[id*=tribe-events-daynum-] a {
        background-color: $gray-3;
        color: $blue;
      }

      @media (max-width: 768px) {
         div[id*=tribe-events-daynum-],
         div[id*=tribe-events-daynum-] a {
           background-color: transparent;
         }
       }

      // Event name
      div[id*=tribe-events-event-] h3.tribe-events-month-event-title {
        @include type-style-action();
        font-size: 1.2rem;
        color: black;
      }
      // Hover state for Event name
      div[id*=tribe-events-event-]:hover{
        h3.tribe-events-month-event-title a{
        color: $gold;
      }
    }

      @media (max-width: 768px) {
      .tribe-events-present {
          background-color: $gray-3;
        }
      }

    } // .tribe-events-calendar

    .tribe-events-tooltip {
      background-color: #f9f9f9;
      border: .1rem solid $black;
      width: 350px;
      // Event title
      h4 {
        background-color: $white;
        color: $gold;
        font-weight: bold;
        line-height: 1.4rem;
        padding: .8rem .5rem;
      }

      // Event description
      .tribe-event-description p{
        line-height: 1.4rem;
        padding-top: .5rem;
      }

      // Time of event
      .tribe-event-duration abbr{
        font-weight: bold;
      }
      // Event image
      .tribe-events-event-thumb {

      }

    } // .tribe-events-tooltip

  } // #tribe-events-content




// -----------------------------------------------------------------------------
//
// 4. List View
//
// -----------------------------------------------------------------------------

  // Seperator for different months
  .tribe-events-list-separator-month {
    @include type-style-heading-sm();
    background-color: $blue;
    color: $white;
  }
  // Makes the images their full container size
  .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    width: 100%;
  }

  @media (max-width: 768px) {

      .tribe-events-event-meta {
        background-color: transparent;
        border: none;
        padding: 0 0 1.5rem;
        // Schedule details
        .tribe-event-schedule-details {
          border-top: 0px;
          padding: 0;
          margin-top: 0;
        }

      // Venue details
      .tribe-events-venue-details {
        border-top: none;
        padding: 1.2rem 0;
        margin-top: 0;
        line-height: 2.4rem;
        .tribe-address,
        a {
          font-size: 1.8rem;
          border-top: none;
          padding: 0;
          margin-top: 0;
        }
      }
    } // .tribe-events-event-meta

    .tribe-events-gmap {
      display: none;
    }

    // single-event.php This is for any instance where an event is shown in a list,
    // TO DO: File structure that accomidates both general and specific styling
    .single-event-item {
      flex-direction: column;
    }

    .list-event-image {
      order: 1
    }

    .list-event-content {
      order: 2
    }

  } // Media query


// -----------------------------------------------------------------------------
//
// 5. Day View
//
// -----------------------------------------------------------------------------

  // Seperator for different hours
  .tribe-events-day .tribe-events-day-time-slot h5 {
    @include type-style-heading-sm();
    background-color: $blue;
    color: $white;
  }

  @media (max-width: 768px) {
    .time-details {
      padding: 0;
    }
  }


// -----------------------------------------------------------------------------
//
// 6. Week View
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//
// 6. Photo View
//
// -----------------------------------------------------------------------------



// -----------------------------------------------------------------------------
//
// 6. Map View
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//
// 7. Single Event
//
// -----------------------------------------------------------------------------

  // Main header for a single event
  .tribe-events-schedule {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $blue;
    color: white;
    padding: 12rem;
    margin-bottom: 4rem;
    position: relative;

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.5) 40%);
    }
    // Event title
    .tribe-events-single-event-title {
      @include type-style-heading-lg();
      text-align: center;
    }
    // Time of event & Cost
    .tribe_events_event_schedule_details {
      @include type-style-heading-sm();
      font-size: 2.7rem;
      text-align: center;
      margin-top: 2rem;
    }
    .tribe-events-cost {
      text-align: center;
    }
  }

  // Spacing for the calendar buttons
  .tribe-events-cal-links a:nth-child(2) {
      margin: 2rem 0 0 4rem;
  }

    // Main back button to month view from a single event
    .tribe-events-back {
      font-weight: bold;
      transition: color 0.7s $ease-out-expo;
      &:hover {
        color: $gold;

      .pagination__control {
        &::before {
          border-color: $gold;
          }
        }
      }
    } // tribe-events-back

  // Makes the map full width
  .tribe-events-meta-group-gmap {
  float: none!important;
  width: 100%!important;
  }

  .tribe-events-venue-map {
    width: 100%;
  }
  // Details for event
  .tribe-events-meta-group-details,
  .tribe-events-meta-group-organizer {
     dt {
      font-weight: 600;
    }
    dd {
      padding-bottom: 1.2rem;
    }
  }
  .tribe-events-meta-group {
    padding: 0;

    .text-button {
      font-size: 1.8rem;
    }
  }



  @media (max-width: 768px) {
    .tribe-events-schedule {
      padding: 6rem;

    .tribe-events-single-event-title {
      font-size: 3rem;
    }
    .tribe_events_event_schedule_details {
      font-size: 2rem;
    }
  }
    .tribe-events-meta-group {
      padding: 0;
    }
    .tribe-events-venue-map {
      margin: 0;
      width: 100%;
    }
    .tribe-events-single-section-title {
      margin: 2rem 0 0 0;
    }

  } // Media Query

    @media (max-width: 520px) {
      .tribe-events-cal-links a:nth-child(2) {
        margin: 2rem 0 0 0;
      }
  } // Media Query


// -----------------------------------------------------------------------------
//
// 8. Single Organizer
//
// -----------------------------------------------------------------------------

  .tribe-events-organizer {
    h2.tribe-events-page-title {
      text-align: left;
    }
  }

  // Details that appear below the organizer name
  .organizer-details {
    text-align: center;
    // Link styles for the email and website
    .email a,
    .link a{
      @include reset-anchor();
      transition: color 0.7s $ease-out-expo;
      &:hover {
        color: $gold;
      }
    }
  }


  @media (max-width: 768px) {
    // Organizer info background
    address.organizer-address {
      background-color: transparent;
      border: none;
      .tel,
      .email {
        margin-bottom: 1.5rem;
      }
    }
  }



// -----------------------------------------------------------------------------
//
// 8. Single Venue
//
// -----------------------------------------------------------------------------
  .tribe-events-venue {
    h2.tribe-events-page-title {
      text-align: left;
    }
  }

  .venue-address {
    text-align: center;
    .tribe-address {
      font-size: 1.8rem;
    }
  }

  address.tribe-events-address {
    margin-right: 0;
  }

    .tribe-events-venue {
      .tribe-events-event-meta a {
      @include reset-anchor();
      transition: color 0.7s $ease-out-expo;
      &:hover {
        color: $gold;
      }
    }
    .tribe-events-event-meta .tribe-events-gmap {
      text-align: center;
      display: block;
    }
  } // Tribe-events-venue




} // Ends the #tribe-events selector



// Datepicker modal menu
.datepicker {
  // Year heading
  .datepicker-switch {
    font-family: $font-heading;
    text-transform: uppercase;
  }
  // Selected state for a month
  table tr td.active.active,
  table tr td span.active.active {
    background: $gold !important;
    color: $white !important;
  }
}// .datepicker

// Overrides for the dropdown
.datepicker.dropdown-menu {
    min-width: 1.6rem;
    list-style: none;
    background-color: #fff;
    border: 0.14rem solid $black !important;
    -webkit-border-radius: 0rem;
    -moz-border-radius: 0rem;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0 !important;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    color: $black;
    font-size: 1.3rem;
    line-height: 2.0rem;
  }
